<div class="row">
  <div class="col-md-12">
    <h2>Categories</h2>
    <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
    <hr />
    {{#if categories.length}}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Category ID</th>
              <th>Category Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each categories}}
              <tr>
                <td>{{id}}</td>
                <td>{{category}}</td>
                <td><a href="/categories/delete/{{id}}" class="btn btn-danger">Remove</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
      </div>
    {{/if}}
  </div>
</div>